<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <script th:inline="javascript">
        function validate() {
            if (document.f.username.value === "" && document.f.password.value === "") {
                document.f.username.focus();
                return false;
            }
            if (document.f.username.value === "") {
                document.f.username.focus();
                return false;
            }
            if (document.f.password.value === "") {
                document.f.password.focus();
                return false;
            }
        }

    </script>
    <style type="text/css">
        .wrapper{width:500px;margin-left:auto;margin-right:auto}
        label{padding-left:0 !important}
    </style>
</head>
<body>

<div class="container" style="margin-top: 200px;">
    <div class="row wrapper">

        <form name='f' action="login" method='POST' onsubmit="return validate();">
            <span id="welcometext">&nbsp;</span>

            <br /><br />
            <label class="col-sm-4" th:text="#{label.form.loginEmail}">Email</label>
            <span class="col-sm-8"><input class="form-control" type='text' name='username' value=''/></span>

            <br/><br/>
            <label class="col-sm-4" th:text="#{label.form.loginPass}">password</label>
            <span class="col-sm-8"><input class="form-control" type='password' name='password' /></span>

            <br/><br/>
            <label class="col-sm-4" th:text="#{label.form.login2fa}">Google Authenticator Verification Code</label>
            <span class="col-sm-8"><input class="form-control" type='text' name='code' /></span>

            <br>
            <span th:if="${param.get('error')}">
                Username and Password is wrong!
            </span>


            <br/><br/>
            <input class="btn btn-primary" style="margin-right: 12px;float: right;" name="submit" type="submit" th:value="#{label.form.submit}" />

        </form>
    </div>
</div>
</body>

</html>