<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <style>
        .password-verdict{
            color:#000;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script th:src="@{/resources/pwstrength.js}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title th:text="#{label.form.title}">form</title>
</head>
<body>
<div class="container">
    <div >
        <h1 th:text="#{label.form.title}">form</h1>
        <br/>
        <form action="/registration/confirm" method="POST" enctype="utf8">
            <div class="form-group row" >
                <label class="col-sm-3" th:text="#{label.user.firstName}">first</label>
                <span class="col-sm-5"><input class="form-control" name="firstName" value="" required="required"/></span>
                <span id="firstNameError" class="alert alert-danger col-sm-4" style="display:none"></span>

            </div>
            <div class="form-group row">
                <label class="col-sm-3" th:text="#{label.user.lastName}">last</label>
                <span class="col-sm-5"><input class="form-control" name="lastName" value="" required="required"/></span>
                <span id="lastNameError" class="alert alert-danger col-sm-4" style="display:none"></span>

            </div>
            <div class="form-group row">
                <label class="col-sm-3" th:text="#{label.form.loginEmail}">email</label>
                <span class="col-sm-5"><input type="email" class="form-control" name="email" value="" required="required"/></span>
                <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>

            </div>
            <div class="form-group row">
                <label class="col-sm-3" th:text="#{label.form.loginPass}">password</label>
                <span class="col-sm-5"><input id="password" class="form-control" name="password" value="" type="password" required="required"/></span>
                <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3" th:text="#{label.form.login2fa}">Use Two Step Verification</label>
                <span class="col-sm-5"><input type="checkbox" name="using2FA" value="true"/></span>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary" th:text="#{label.form.submit}">submit</button>

            <br>
            <span th:if="${param.get('confirm')}">
                SuccessFully registered! Please Sign In;
            </span>
        </form>
        <br/>
        <a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>
    </div>
</div>



</body>

</html>
